# .gitignore
# This file should be maintained in "env LANG=C sort" order.
*.DSW
*.LIB
*.csm
*.d
*.exe
*.gcda
*.gcno
*.gcov
*.i
*.lib
*.o
*.tmp
*.~DE
.cproject
.fsync-save
.gdbinit
.project
.settings
.vscode
Makefile.base.mk
TAGS
changes
config.mk
dependencies.png
diff
examples
fsyncd.log
gendoc
gmon.out
gprof.out
hide
history.txt
libsmbase.a
make.out
mut
mutant-compile.sh
mutant.cc
out
personal-make-cmd.sh
personal.mk
srcloc.tmp
strhash_1
strhash_2
test.dir
