# .gitignore
# This file should be maintained in "env LANG=C sort" order.

# I removed *.o, etc., since they should go into obj/.

*.DSW
*.LIB
*.bak
*.csm
*.gcda
*.gcno
*.gcov
*.i
*.ii
*.out
*.tmp
*.~DE
.cproject
.fsync-save
.gdbinit
.project
.settings
.vscode
Makefile.base.mk
TAGS
changes
compile_commands.json
config.mk
cov-int
dependencies.png
diff
examples
fsyncd.log
gmon.out
gprof.out
hide
history.txt
make.out
mut
mutant-compile.sh
mutant.cc
obj
out
personal-make-cmd.sh
personal.mk
smbase.tgz
srcloc.tmp
strhash_1
strhash_2
test.dir

# EOF
