# .gitignore
# This file should be maintained in "env LANG=C sort" order.
*.DSW
*.LIB
*.csm
*.d
*.exe
*.i
*.lib
*.o
*.tmp
*.~DE
.cproject
.fsync-save
.gdbinit
.project
.settings
.vscode
Makefile.base.mk
TAGS
autofile
bdffont
bflatten
bit2d
bitarray
boxprint
changes
config.mk
crc
cycles
d2vector
datablok
dependencies.png
diff
examples
fsyncd.log
gendoc
gmon.out
gprintf
gprof.out
growbuf
hashline
hide
history.txt
libsmbase.a
make.out
mut
mutant-compile.sh
mutant.cc
mypopen
mysig
nonport
personal.mk
pprint
smregexp
srcloc
srcloc.tmp
str
strdict
strhash
strhash_1
strhash_2
strutil
svdict
taillist_test
tarray2d
tarrayqueue
test-codepoint
test-datetime
test-refct-serf
test-sm-file-util
test-stringset
test.dir
testarray
testcout
testmalloc
tmalloc
tobjlist
tobjpool
trdelete
tsobjlist
unit-tests
vdtllist
voidlist
vptrmap
